*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

html{
scroll-behavior:smooth;
}

body{
background:#f4f4f4;
}

nav{
background:#2c3e50;
padding:15px;
text-align:center;
position:sticky;
top:0;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

nav a:hover{
color:yellow;
}


#home{
display:flex;
justify-content:space-around;
align-items:center;
padding:50px;
background:#dfe6e9;
}

.home-text{
width:50%;
}

.home-img img{
width:250px;
border-radius:50%;
box-shadow:0px 5px 10px gray;
}

button{
background:#3498db;
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#2980b9;
}

section{
padding:50px;
text-align:center;
}

.skill-box i{
font-size:50px;
margin:15px;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#dfe6e9;
padding:20px;
width:250px;
border-radius:15px;
box-shadow:0px 5px 10px gray;
transition:0.5s;
}

.card:hover{
transform:translateY(-10px);
}

form{
width:400px;
margin:auto;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0px 5px 10px gray;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

.social{
text-align:center;
margin:20px;
}

.social i{
font-size:30px;
margin:10px;
}

#topBtn{
position:fixed;
bottom:20px;
right:20px;
}

footer{
background:#2c3e50;
color:white;
padding:15px;
text-align:center;
}

@media(max-width:600px){

#home{
flex-direction:column;
}

.home-text{
width:100%;
text-align:center;
}

.home-img img{
width:180px;
margin-top:20px;
}

form{
width:90%;
}

nav a{
display:block;
margin:10px;
}

}